<div>
    <h2 id="page-heading">
        <span>Business Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-unit" [routerLink]="['/business-unit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Business Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businessUnits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Business Unit</span></th>
            <th><span>Business Associate Nbr</span></th>
            <th><span>Edi Pipe Id</span></th>
            <th><span>Company Logo</span></th>
            <th><span>Updater</span></th>
            <th><span>Update Timestamp</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let businessUnit of businessUnits ;trackBy: trackId">
                <td><a [routerLink]="['/business-unit', businessUnit.id, 'view' ]">{{businessUnit.id}}</a></td>
                <td>{{businessUnit.businessUnit}}</td>
                <td>{{businessUnit.businessAssociateNbr}}</td>
                <td>{{businessUnit.ediPipeId}}</td>
                <td>
                    <a *ngIf="businessUnit.companyLogo" (click)="openFile(businessUnit.companyLogoContentType, businessUnit.companyLogo)">
                        <img [src]="'data:' + businessUnit.companyLogoContentType + ';base64,' + businessUnit.companyLogo" style="max-height: 30px;" alt="businessUnit image"/>
                    </a>
                    <span *ngIf="businessUnit.companyLogo">{{businessUnit.companyLogoContentType}}, {{byteSize(businessUnit.companyLogo)}}</span>
                </td>
                <td>{{businessUnit.updater}}</td>
                <td>{{businessUnit.updateTimestamp | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-unit', businessUnit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-unit', businessUnit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-unit/'+ businessUnit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
