<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rate-sched-vald-heading">Create or edit a Rate Sched Vald</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rateSchedVald.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rateSchedVald.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_validType">Valid Type</label>
                    <input type="text" class="form-control" name="validType" id="field_validType"
                        [(ngModel)]="rateSchedVald.validType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updater">Updater</label>
                    <input type="text" class="form-control" name="updater" id="field_updater"
                        [(ngModel)]="rateSchedVald.updater" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateTimeStamp">Update Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_updateTimeStamp" type="datetime-local" class="form-control" name="updateTimeStamp" [(ngModel)]="updateTimeStamp"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_businessUnit">Business Unit</label>
                    <input type="text" class="form-control" name="businessUnit" id="field_businessUnit"
                        [(ngModel)]="rateSchedVald.businessUnit" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rateSchd">Rate Schd</label>
                    <select class="form-control" id="field_rateSchd" name="rateSchd" [(ngModel)]="rateSchedVald.rateSchdId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rateSchedOption.id" *ngFor="let rateSchedOption of ratescheds; trackBy: trackRateSchedById">{{rateSchedOption.rateScheduleCD}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
