<div>
    <h2 id="page-heading">
        <span>Reduction Reasons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reduction-reason" [routerLink]="['/reduction-reason/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Reduction Reason
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reductionReasons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Reason</span></th>
            <th><span>Proprietery Reason Code</span></th>
            <th><span>Business Unit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reductionReason of reductionReasons ;trackBy: trackId">
                <td><a [routerLink]="['/reduction-reason', reductionReason.id, 'view' ]">{{reductionReason.id}}</a></td>
                <td>{{reductionReason.reason}}</td>
                <td>{{reductionReason.proprieteryReasonCode}}</td>
                <td>{{reductionReason.businessUnit}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reduction-reason', reductionReason.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reduction-reason', reductionReason.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reduction-reason/'+ reductionReason.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
