<div>
    <h2 id="page-heading">
        <span>Measurement Stations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-measurement-station" [routerLink]="['/measurement-station/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Measurement Station
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="measurementStations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Location Nbr</span></th>
            <th><span>Milepost Nbr</span></th>
            <th><span>Upstream Pipe Node</span></th>
            <th><span>Down Stream Pipe Node</span></th>
            <th><span>Business Unit</span></th>
            <th><span>Updater</span></th>
            <th><span>Update Timestamp</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let measurementStation of measurementStations ;trackBy: trackId">
                <td><a [routerLink]="['/measurement-station', measurementStation.id, 'view' ]">{{measurementStation.id}}</a></td>
                <td>{{measurementStation.locationNbr}}</td>
                <td>{{measurementStation.milepostNbr}}</td>
                <td>{{measurementStation.upstreamPipeNode}}</td>
                <td>{{measurementStation.downStreamPipeNode}}</td>
                <td>{{measurementStation.businessUnit}}</td>
                <td>{{measurementStation.updater}}</td>
                <td>{{measurementStation.updateTimestamp | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/measurement-station', measurementStation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/measurement-station', measurementStation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'measurement-station/'+ measurementStation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
