<div>
    <h2 id="page-heading">
        <span>Nomination Priorities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nomination-priority" [routerLink]="['/nomination-priority/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Nomination Priority
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nominationPriorities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Gas Date</span></th>
            <th><span>Prty Tp</span></th>
            <th><span>Old Qty</span></th>
            <th><span>New Qty</span></th>
            <th><span>Sub Type</span></th>
            <th><span>Dir Of Flow</span></th>
            <th><span>Updater</span></th>
            <th><span>Update Time Stamp</span></th>
            <th><span>Business Unit</span></th>
            <th><span>Nomination</span></th>
            <th><span>Activity</span></th>
            <th><span>Contract</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nominationPriority of nominationPriorities ;trackBy: trackId">
                <td><a [routerLink]="['/nomination-priority', nominationPriority.id, 'view' ]">{{nominationPriority.id}}</a></td>
                <td>{{nominationPriority.gasDate | date:'mediumDate'}}</td>
                <td>{{nominationPriority.prtyTp}}</td>
                <td>{{nominationPriority.oldQty}}</td>
                <td>{{nominationPriority.newQty}}</td>
                <td>{{nominationPriority.subType}}</td>
                <td>{{nominationPriority.dirOfFlow}}</td>
                <td>{{nominationPriority.updater}}</td>
                <td>{{nominationPriority.updateTimeStamp | date:'medium'}}</td>
                <td>{{nominationPriority.businessUnit}}</td>
                <td>
                    <div *ngIf="nominationPriority.nominationId">
                        <a [routerLink]="['../nomination', nominationPriority.nominationId , 'view' ]" >{{nominationPriority.nominationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nominationPriority.activityId">
                        <a [routerLink]="['../activity', nominationPriority.activityId , 'view' ]" >{{nominationPriority.activityActivityNbr}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nominationPriority.contractId">
                        <a [routerLink]="['../contract', nominationPriority.contractId , 'view' ]" >{{nominationPriority.contractContrId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nomination-priority', nominationPriority.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nomination-priority', nominationPriority.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nomination-priority/'+ nominationPriority.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
