<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-nomination-priority-heading">Create or edit a Nomination Priority</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!nominationPriority.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="nominationPriority.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gasDate">Gas Date</label>
                    <div class="input-group">
                        <input id="field_gasDate" type="text" class="form-control" name="gasDate" ngbDatepicker  #gasDateDp="ngbDatepicker" [(ngModel)]="nominationPriority.gasDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="gasDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.gasDate?.dirty && editForm.controls.gasDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gasDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prtyTp">Prty Tp</label>
                    <input type="text" class="form-control" name="prtyTp" id="field_prtyTp"
                        [(ngModel)]="nominationPriority.prtyTp" required/>
                    <div [hidden]="!(editForm.controls.prtyTp?.dirty && editForm.controls.prtyTp?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prtyTp?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_oldQty">Old Qty</label>
                    <input type="number" class="form-control" name="oldQty" id="field_oldQty"
                        [(ngModel)]="nominationPriority.oldQty" min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.oldQty?.dirty && editForm.controls.oldQty?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.oldQty?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.oldQty?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_newQty">New Qty</label>
                    <input type="number" class="form-control" name="newQty" id="field_newQty"
                        [(ngModel)]="nominationPriority.newQty" min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.newQty?.dirty && editForm.controls.newQty?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.newQty?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.newQty?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subType">Sub Type</label>
                    <input type="text" class="form-control" name="subType" id="field_subType"
                        [(ngModel)]="nominationPriority.subType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dirOfFlow">Dir Of Flow</label>
                    <input type="text" class="form-control" name="dirOfFlow" id="field_dirOfFlow"
                        [(ngModel)]="nominationPriority.dirOfFlow" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updater">Updater</label>
                    <input type="text" class="form-control" name="updater" id="field_updater"
                        [(ngModel)]="nominationPriority.updater" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateTimeStamp">Update Time Stamp</label>
                    <div class="d-flex">
                        <input id="field_updateTimeStamp" type="datetime-local" class="form-control" name="updateTimeStamp" [(ngModel)]="updateTimeStamp"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_businessUnit">Business Unit</label>
                    <input type="text" class="form-control" name="businessUnit" id="field_businessUnit"
                        [(ngModel)]="nominationPriority.businessUnit" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nomination">Nomination</label>
                    <select class="form-control" id="field_nomination" name="nomination" [(ngModel)]="nominationPriority.nominationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nominationOption.id" *ngFor="let nominationOption of nominations; trackBy: trackNominationById">{{nominationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activity">Activity</label>
                    <select class="form-control" id="field_activity" name="activity" [(ngModel)]="nominationPriority.activityId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="activityOption.id" *ngFor="let activityOption of activities; trackBy: trackActivityById">{{activityOption.activityNbr}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contract">Contract</label>
                    <select class="form-control" id="field_contract" name="contract" [(ngModel)]="nominationPriority.contractId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contractOption.id" *ngFor="let contractOption of contracts; trackBy: trackContractById">{{contractOption.contrId}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
