<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-heading">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="contact.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="contact.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updater">Updater</label>
                    <input type="text" class="form-control" name="updater" id="field_updater"
                        [(ngModel)]="contact.updater" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateTimestamp">Update Timestamp</label>
                    <div class="d-flex">
                        <input id="field_updateTimestamp" type="datetime-local" class="form-control" name="updateTimestamp" [(ngModel)]="updateTimestamp"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_loginId">Login Id</label>
                    <select class="form-control" id="field_loginId" name="loginId" [(ngModel)]="contact.loginIdId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employedBy">Employed By</label>
                    <select class="form-control" id="field_employedBy" name="employedBy" [(ngModel)]="contact.employedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessAssociateOption.id" *ngFor="let businessAssociateOption of businessassociates; trackBy: trackBusinessAssociateById">{{businessAssociateOption.baAbbr}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
